.main {
  display: flex;
  flex-direction: column;
}

.foto {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.gameimage {
  height: 200px;
  width: 140px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 20px;
  position: absolute;
  top: 160px;
  left: 50px;
}

.backgroundimage {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.game {
    display: flex;
    padding-top: 30px;
}

.game h1{
    margin-left: 200px;
}

.conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.texto {
  background-color: white;
  width: 80%;
  font-family: var(--fonte);
  font-size: 20px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 20px;
}

.rate {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: var(--azulBonito);
  padding: 10px 20px;
}

.rate span {
  font-family: var(--fonte);
  color: white;
  font-size: 30px;
}

.estrelas {
  display: flex;
  justify-content: center;
}
